* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  margin: 0;
  background: #fff5f9;
  font-family: "Prompt", sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}
